.customNode {
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgb(255, 255, 255);
    border: 1px solid #b5b5b5;
    font-size: 12px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.customNode:hover {
    border: 1px solid var(--primary-main);
}

.customNode.selected {
    border: 1px solid var(--primary-main);
}

.nodeIcon {
    color: var(--primary-main);
}