.prefillMappingView {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 auto;
    min-height: 0px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 0 0 auto;
}

.actionMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: auto;
}

.properties {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.property {
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e3e3e3;
    font-size: 14px;
}

.property:hover {
    background-color: #ffffff;
    border: 1px solid var(--primary-main);
}

.keyContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.key {
    flex: 1;
}

.clearIconContainer {
    cursor: pointer;
    background-color: #a8a8a8;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearIconContainer:hover {
    background-color: #b42d2d;
}

.clearIcon {
    color: #fff;
    font-size: 10px;
}